{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %} Login {% endblock %}

{% block content %} 

    <div class='middle'>
        <div class='container'>
            <br> <br>
            <h3>Teacher Signup</h3>
            <br>
            <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/forms.html' with form=form %}
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>    

{% endblock %}