{% extends 'base.html' %}

{% block title %} {{ course.name }}'s Lectures {% endblock %}

{% block content %}

        <div class='container'>
            <br>

            <div class='row'>
                <h3> Lecture-wise attendance record in <a href="/teachers/course/{{ course.name }}">{{ course.name }}</a>.</h3>  
            </div>

            <br>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                    <th>Lecture No.</th>
                    <th>Time</th>
                    <th>Attendance</th>
                    <th> Update Link </th>
                    <th> Delete Link </th>
                    </tr>
                </thead>
                <tbody>
                    {% for lecture in lectures %}
                    <tr>
                        <td>
                            <a href="/teachers/course/{{ course.name }}/lectures/{{ lecture.lecture }}">{{ lecture.cnt }}</a>
                        </td>
                        <td class="align-middle">
                            {{ lecture.time }}
                        </td>
                        <td class="align-middle">
                            {{ lecture.percent }} %    
                        </td>
                        <td>
                            <a class="btn btn-info" href="/teachers/course/{{ course.name }}/lecture_modify/{{ lecture.lecture }}"> Update </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="/teachers/course/{{ course.name }}/lecture_delete/{{ lecture.lecture }}"> Delete </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>    
{% endblock %}