{% extends 'base.html' %}

{% block title %} {{ course.name }} 's students {% endblock %}

{% block content %}

        <div class='container'>
            <br>

            <div class='row'>
                <h3> Students in <a href="/teachers/course/{{ course.name }}">{{ course.name }}</a>.</h3>  
            </div>
            <br>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                    <th>Student</th>
                    <th>Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendance in attendances %}
                    <tr>
                        <td>
                            <a href="/teachers/course/{{ course.name }}/students/{{ attendance.student_pk }}">{{ attendance.student }}</a>
                        </td>
                        <td>
                            {{ attendance.percent }} %
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>    
{% endblock %}