{% extends 'base.html' %}

{% block title %} My Courses {% endblock %}

{% block content %}

        <div class='container'>
            <br>

            <div class='row'>
                 <h3>Hello,  {{ request.user.first_name }}</h3>
            </div>
            <br>
            <div class='row'>
                <h3>Your Courses</h3>
            </div>
            

            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                    <th>Course</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td>
                            <a href="/students/course/{{ course }}">{{ course }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>    
{% endblock %}