<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}Attendance Portal{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {% block stylesheet %}{% endblock %}
</head>

<body>

  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'home' %}"><h2>Attendance Portal</h2></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            {% if user.is_authenticated %}  
            <ul class="navbar-nav mr-auto">

                {% if user.is_student %}
                <li class="nav-item active">
                    <h3> <font color='gray'>Student &nbsp; &nbsp; &nbsp;</font></h3>
                </li>
                {% endif %}
                
                {% if user.is_teacher %}
                <li class="nav-item active">
                    <h3> <font color='gray'>Teacher &nbsp; &nbsp; &nbsp;</font></h3>
                </li>
                {% endif %}
            </ul>

            <span class="navbar-text">
                {% if user.is_student %}
                    <a class="btn btn-secondary" href="{% url 'student_courses' %}"> <h4> My Courses </h4></a>
                    &nbsp;
                {% endif %}
                <a class="btn btn-primary" href="{% url 'logout' %}"> <h4> Logout </h4></a>
            </span>

            {% endif %}
            <span class="navbar-text">   
                {% if not user.is_authenticated %}
        
                {% if request.path != "/login/" %}
                    &nbsp;
                    <a class="btn btn-primary" href="{% url 'login' %}"> <h4> Login </h4></a>
                {% endif %}
                
                {% if request.path != "/signup/" %}
                    &nbsp;
                    <a class="btn btn-primary" href="{% url 'signup' %}"> <h4> Signup </h4></a>
                {% endif %}
        
                {% endif %}
            </span>
        </div>
    </nav>

  {% block content %}{% endblock %}

  {% block javascript %}{% endblock %}
</body>

</html>
